* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
	background: url("../img/arboleda.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    height: 100vh;
}

.img-avatar-rounded {
    margin-top: 10px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    float: left!important;
}

.contenedor {
    background: rgb(255, 255, 255, 0.9);
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
}

.tabla {
    width: 90%;
    margin: auto;
}

.topic {
    width: 10%;
    min-width: 100px;
}

.description {
    width: 45%;
    min-width: 200px;
}

.formulario {
    width: 45%;
    min-width: 300px;
}

.text-from {
    background: rgb(255, 255, 255, 0.2);
    width: 100%;
    height: 100%;
    margin: auto;
    border: none;
}

.navegador {
    display: flex;
    flex-direction: row;
    padding-right: 0;
    margin-bottom: 0;
    list-style: none
}

.navegador li {
    padding: 10px;
}

.stan-text {
    font-size: 20px;
    font-family: sans-serif;
    padding: 5px;
}

.button-text {
    font-size: 25px;
    text-align: center;
    font-family: sans-serif;
    padding: 5px;
    text-decoration: none;
}

.contenido {
    height: 86%;
    width: 60%;
    margin:auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.header {
    width: 100%;
}

.img-carrusel{
    width: 100%;
}

.carta {
    width: 18rem;
}

.logo {
    width: 25%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
}

.logo img {
    margin: 2px;
    background-color: #fff;
    border: 1px solid #dee2e6;
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    float: left!important;
}

.logo p {
    color: #fff;
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 10px;
    padding: 5px;
}

h1 {
    text-align: center;
}

.colum{
    padding:10px;
}

.footer{
    background-color: #343A40;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    flex-direction: column;
    text-decoration: none;
}

.footer p {
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;
    margin-left: 10px;
    padding: 5px;
}

@media screen and (max-width: 950px) {
    .logo {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .contenido {
        flex-flow: column;
        justify-content: space-around;
        justify-items: center;
    }

    .carta {
        width: 90%
    }

    #avatar{
        display: none;
    }

}

@media screen and (max-width: 600px) {}